
<form class="make_thread"name="make_thread">
  Title
  <input id="title" rows="2" cols="65"><br>
  First Comment
  <input id="message" rows="2" cols="65"><br>
  <input type="submit">
  <br>
</form>
<div id="groups">
  <%= render @groups %>
</div>
